spring:
  profiles:
    active: cloud
  application:
    name: community-service
  #springData配置，分页相关
  data:
    web:
      pageable:
        one-indexed-parameters: true # 让 page=1 代表第一页
        default-page-size: 10        # 默认每页 10 条
        max-page-size: 100           # 限制每页最多 100 条（防止恶意查询）

mybatis:
    #mapper配置文件
    mapper-locations: classpath:mapper/*.xml
    type-aliases-package: com.liu.springbootdemo.POJO
    configuration:
        #开启驼峰命名
        map-underscore-to-camel-case: true

community:
    jwt:
        # 设置jwt签名加密时使用的秘钥
        SECRET_KEY: "YourSuperSecureAndLongSecretKeyForThisCommunityTechForumProject"
        # 设置jwt过期时间
        EXPIRATION_TIME: 604800000 # 1000*3600*24*7 (7 天，毫秒)
        # 设置前端传递过来的令牌名称
#        admin-token-name: token