<mapper namespace="com.liu.springbootdemo.mapper.PostImageMapper" xmlns="http://mybatis.org/schema/mybatis-mapper" >
    <insert id="insertTempImage">
        INSERT INTO post_images
        <set>   <!--MySQL专用版set当insert-->
            <if test="post_id != null">post_id = #{post_id},</if>
            <if test="image_url != null">image_url = #{image_url},</if>
            <if test="object_name != null">object_name = #{object_name},</if>
            <if test="status != null">status = #{status},</if>
            create_time = NOW(),
            update_time = NOW(),
        </set>
    </insert>
</mapper>