<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liu.springbootdemo.mapper.UserMapper">
    <update id="updateUser">
        UPDATE users
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="avatarUrl != null and avatarUrl != ''">
                avatar_url = #{avatarUrl},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="bio != null and bio != ''">
                bio = #{bio},
            </if>
            <if test="location != null and location != ''">
                location = #{location},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>